/* =============
    Base
============= */

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

.content-spacing-top{
    margin-top: 24px;

    @include md{
        margin-top: 40px;
    }

    @include xl{
        margin-top: 56px;
    }
}

.resize-img{
    width: 100%;
}

.show-large {
    display: none;

    @include lg{
        display: block;
    }
}

.show-extra-large {
    display: none;

    @include xxl{
        display: block;
    }
}

.hide-large {
    display: block;

    @include lg{
        display: hide !important;
    }
}
