/* =============
    Base
============= */
.padding-content {
    padding-top: 24px;

    @include lg {
        padding-top: 100px;
    }
}

.resize-img {
    width: 100%;
}

ul {
    padding: 0px;
    margin: 0px;

    li {
        padding: 0px;
        margin: 0px;
    }

    list-style: none;
}