/* =============
    Base
============= */
.padding-content{
    padding-top: 24px; 

    @include lg{
        padding-top: 60px;
    }
}

.resize-img{
    width: 100%;
}

ul{
    padding: 0px;
    margin: 0px;
    li{
        padding: 0px;
        margin: 0px;
    }
    list-style: none;
}

.redbutton{
    a:link, a:visited{
        color: white;
        background-color: var(--red);
        padding: 10px 50px;
        border-radius: 100px;
        border: none;
        display: inline-block;
    }

   
}
