/* =============
    Hero
============= */
#hero{

    #hero-img{
        background-image: url("../img/hero/hero.jpg");
        background-size: cover;
        height: 50vh;
        background-position: 0% center;

        @include lg{
            height: 70vh;
            background-position: 0% 90%;
        }

        @include xl{
            height: 80vh;
        }
    }

    #hero-container{
        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }

        @include lg{
            grid-template-columns: 50% auto;
        }

        .hero-content-container{
            padding: 16px;
            display: flex;
            h1{
                font-size: rem-calc(20);
            }

            .hero-links{
                margin-left: auto;
                display: flex;
                align-items: center;
            
                a{
                    color: var(--blueDark);
                    @include lg{
                        display: flex !important;
                    }

                    i{
                        margin-left: 8px;
                    }
                }
            }
        }

        #hero-left{
            background: var(--yellowDark);

            @include lg{
                padding-left: 10vw;
            }
             h1{
                font-weight: 700;
                font-size: rem-calc(18);

                @include xl{
                    font-size: rem-calc(25);
                }
             }

             p{
                font-weight: 600;
             }
        }

        #hero-right{
            background: var(--yellow);

            @include lg{
                padding-right: 10vw;
            }

            h3{
                font-weight: 400;
                span{
                    font-weight: 600;
                }
            }
        }
    }
}

#hero-sub{

    @include md{
        // this grid controls the 2 cards that are 50% 50%
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". hero-sub .";
    }

    @include xxl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        display: grid;
        gap: 16px;

        @include md{
             grid-area: hero-sub;
             grid-template-columns: 50% auto;
        }

        .hero-sub-card{
            background-color: var(--gray);
            box-shadow: 0px 1px 1px rgba(42, 48, 54, 0.296793);
            padding: 16px;
            display: flex;
            align-items: center;

            h1{
                font-weight: 400;
                font-size: rem-calc(22);

                @include md{
                    font-size: rem-calc(28);
                }

                @include xl{
                    font-size: rem-calc(32);
                }
            }

            a{
                margin-top: 10px;
                display: inline-block;
            }

    
            aside{
                width: 30%;
                // width: 100%;
                margin-left: auto;

                @include sm{
                    width: 20%;
                }

                @include xl{
                    width: 20%;
                }
                div{
                    background-position: center;
                    background-size: cover;
                    width: 100%;
                    padding-bottom: 100%;
                    border-radius: 100%;
                    border: 4px solid white;
                }
            }

            #sub-right{
                div{
                    background-image: url("../img/hero/hero.jpg");
                }
                
            }

            #sub-left{
                div{
                    background-image: url("../img/hero/hero.jpg");
                }
                
            }
        }
    }
}