/* =============
    New
============= */
#new {
	@include md {
		display: grid;
		grid-template-columns: 16px auto 16px;
		grid-template-areas: ". new .";
	}

	@include xxl {
		grid-template-columns: auto 1200px auto;
	}

	> div {
		@include md {
			grid-area: new;
		}

		h1 {
			margin-bottom: 16px;

			@include md {
				margin-bottom: 24px;
			}
		}

		ul {
			display: grid;
			gap: 16px;

			@include md {
				grid-template-columns: repeat(4, 1fr);
				grid-template-areas:
					"n1 n1 n2 n2"
					"n3 n3 n4 n4"
					".. n5 n5 ..";
			}

			@include lg {
				grid-template-columns: repeat(6, 1fr);
				grid-template-areas:
					"n1 n1 n2 n2 n3 n3"
					".. n4 n4 n5 n5 ..";
			}

			li {
				background-color: var(--grayLight);
				box-shadow: 0px 1px 1px rgba(42, 48, 54, 0.3);
				display: grid;
				gap: 0;
				grid-template-rows: 40vh auto;

				@include md{
				    grid-template-rows: 20vh auto;
				}

				.new-img {
					background-position: center;
					background-size: cover;
					height: 100%;
					width: 100%;
				}

				.new-grid-item {
					height: 100%;
					box-sizing: border-box;
					padding: 16px;

					@include md {
						position: relative;
					}

                    p{
                        padding-bottom: 50px;

                        @include md{
                            padding-bottom: 75px;
                        }
                    }

					a {
                       
						@include md {
							position: absolute;
							bottom: 16px;
							left: 16px;
							// z-index: -1;
						}
					}
				}
			}

			#n1 {
				.new-img {
					background-image: url("../img/new/new-1.jpg");
				}

				@include md {
					grid-area: n1;
				}
			}

			#n2 {
				.new-img {
					background-image: url("../img/new/new-2.jpg");
				}
				@include md {
					grid-area: n2;
				}
			}

			#n3 {
				.new-img {
					background-image: url("../img/new/new-3.jpg");
				}

                @include md {
                    grid-area: n3;
                }
			}

			#n4 {
				.new-img {
					background-image: url("../img/new/new-4.jpg");
				}
				@include md {
					grid-area: n4;
				}
			}

			#n5 {
				.new-img {
					background-image: url("../img/new/new-5.jpg");
				}
				@include md {
					grid-area: n5;
				}
			}
		}
	}
}
