/* =============
    buy
============= */
#buy{
    background-color: var(--tan);
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ".buy.";
    >div{
        grid-area: buy;
        #buy1{
            >div{
                #d1{
                    padding-top: 40px;
                }
    
                >div{
                    
                }
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    li{
                        height: 80px;
                        width: 100px;
                    }
                }
            } 
        }

        #buy2{
            
            color: white;
            >div{
                h1{

                }
                ul{
               
                    li{


                        aside{
                            display: flex;
                            justify-content: space-around;

                            button{
                                // border: 1px solid blue;
                                background-color: red;
                                padding: 10px 20px;
                            }
                            
                        }

                        


                        #c-saw{
                            // color: p;
                            // display: flex;
                            // justify-content: space-evenly;
                            // width: 100%;
                            // >div{
                               
                                
                            //     h3{
                            //         aside{
                            //             button{
                            //                 border-radius: 0%;
                            //             }
                            //         }
                            //     }
                            // }

                        }

                        

                        
                        // .c-blades{

                        //     section{
                        //         justify-content: space-around;
                        //     }

                        // }
                       .c-handles{
                        // h3{

                        // }
                       
                        img{
                           align-content: center;
                            border-radius: 100px;
                            height: 30px;
                            width: 30px;
                        }
                       }
                    //    .c-price{
                    //     h3{
                    //     }
                    //     button{

                    //     }
                       }
                    }
                }
            }
        }
    }
