/* =============
    buy
============= */
#buy{
    background-color: var(--tan);
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ".buy.";
    >div{
        grid-area: buy;
    }
}



//     .buy-left{
      
//         display: grid;
//         grid-template-columns: 16px auto 16px;
//         grid-template-areas: ". displays .";

//         >div{
//             grid-area: displays;
//         }
//     }
//     .buy-right{
//         grid-template-columns: 16px auto 16px;
//         grid-template-areas: ". displays .";

//         div{
//             grid-area: displays;
//             ul{
//                 li{
//                     .c-handles{
//                         img{
//                             width: 54px;
//                             height: 54px;
//                             border-radius: 50%;
//                         }
//                     }
//                 }
//             }
//         }
               
//     }
// }


