// /* =============
//     checkout
// ============= */
#checkout{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";
    text-align: center;

    
    >div{
        grid-area: content;

        
        
        #checkheader{
            padding: 24px 0px;
            h1{
                font-family: 'Merriweather';
                font-style: normal;
                font-size: 30px;
             }
        }
        #cart1{
            margin-bottom:24px ;
            border: 1px solid gray;

            h2{
                font-weight: 700;
                font-size: 24px;
            }
            background-color: var(--biege);
            display: flex;
            flex-direction: column;
            border-radius: 6px; 
            padding: 16px;
            
            >div{
               
                #cart{
                
                    div{
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                     align-content: end;
                    gap: 8px;

                  
                  

                    aside{
                        display: flex;
                        align-content: space-between;
                        gap: 8px;

                    }

                    #extra{
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        margin: 32px 0px;
                          align-items: flex-start;

                        p{
                            font-size: 12px;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 8px;
                            color: gray;
                        }
                        span{
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 16px;

                        }

                     
                    }

                    img{
                        height: 15vh ;
                        width: 25vh ;
                    }
                    }
                    .totalborder{
                        border-top: 3px solid  gray;
                        padding-top: 8px;
                    }

                }
            }
        }
    }

    .billinginput {

        background-color: var(--biege);
        padding: 16px;
        border-radius: 6px; 
        border: 1px solid gray;
    
        h2 {
            height: 36px;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            display: flex;
            align-items: center;
        }
    
        p {
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            display: flex;
            align-items: center;
        }
    
        i {
            font-size: rem-calc(20);
        }
    
        input {
            padding: 14px 14px;
            width: 100%;
            background-color: white;
            color: gray;
            box-sizing: border-box;
        }
    
        #splitinput {
            display: flex;
            flex-direction: row;
            gap: 16px;
    
            aside {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    
        li {
            gap: 8px;
            margin-top: 16px;
            display: flex;
            flex-direction: column;
    
            aside {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
    
          
            }
        }
        #paybuttons{
         
            div{
                display: flex;
            
                gap: 16px;
    
                aside{
                    width: 100%;
                 
                    button{
                        width: 100%;
                        padding: 14px 50px;
                        background-color: white;
    
                        i{
                            font-size: rem-calc(30)
                        }
                    }
                }
            }
        }
    
        div{
    
        display: flex;
        flex-direction: row;
        padding-top: 16px;
        justify-self: center;
        text-align: center;
    
            input{
                width: 14px;
            }
            
            p{
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
            }
        }
        #purchasebutton{
           justify-content: center;
        }
       
    
    }

        #cart2{
        margin-top: 24px;
        background-color: var(--biege);
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". cart2 .";
        >div{
            #billing{

            }
        }
        }
    }


#checkout-content {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". checkout-content .";

    >div {
        grid-area: checkout-content;
        background-color: var(--biege);
        padding: 16px;

        #cart {
            ul {
                li {
                    
                    aside {
                        display: flex;
                        h1{
                            font-size: rem-calc(16px);
                        }
                    }
                    input{
                        width: 100%;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}