// /* =============
//     checkout
// ============= */
#checkout{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";
    text-align: center;
    >div{
        grid-area: content;

        #cart1{
            background-color: var(--biege);
            display: flex;
            flex-direction: column;
            border-radius: 5px; 
            padding: 16px;
            >div{
                #cart{
                    
                    div{
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                     align-content: end;
                    gap: 8px;

                  
                  

                    aside{
                        display: flex;
                        align-content: space-between;
                        gap: 8px;

                    }

                    #extra{
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        margin: 32px 0px;
                          align-items: flex-start;

                        p{
                            font-size: 12px;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 8px;
                        }
                        span{
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 16px;

                        }

                     
                    }

                    img{
                        height: 15vh ;
                        width: 25vh ;
                    }
                    }
                    .totalborder{
                        border-top: 3px solid  gray;
                        padding-top: 8px;
                    }

                }
            }
        }
    }

        #cart2{
        margin-top: 24px;
        background-color: var(--biege);
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". cart2 .";
        >div{
            #billing{

            }
        }
        }
    }


#checkout-content {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". checkout-content .";

    >div {
        grid-area: checkout-content;
        background-color: var(--biege);
        padding: 16px;

        #cart {
            ul {
                li {
                    
                    aside {
                        display: flex;
                        h1{
                            font-size: rem-calc(16px);
                        }
                    }
                    input{
                        width: 100%;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}