/* =============
    hero
============= */
#hero {
    background-image:linear-gradient(rgba(73, 46, 30, 0.76),rgba(73, 46, 30, 0.76)), url("../img/global/backsawmultiple.jpg");
    background-position: center;
    background-size: cover;
    height: 50vh;

    @include lg{
        height: 30vh;
    }
        
    >div{
        #hero-content {
            padding: 70px 0px;
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-content .";

        @include lg{
            padding: 220px 600px 0px 100px;
        }

            >div{
                grid-area: hero-content;
                display: flex;
                flex-direction: column;
                text-align: center;

                @include lg{
                  text-align: left;
                }

                h1{

                    color: var(--yellow);
                    font-family: 'Merriweather', sans-serif;
                    font-size: 29px;
                    font-weight: 700;
                    padding-bottom: 16px;

                    @include lg{
                        font-size: 40px;
                        font-weight: 700;
                        padding-bottom: 16px;
                    }

                }
    
                p{
                    color: white;
                    padding-bottom: 8px;
                    font-size: 14px ;
                    padding-bottom: 16px;

                    @include lg{
                        font-size: 24px;
                        font-weight: 400;
                        padding-bottom: 16px;
                    }
                }
                button{
                    font-size: 700;
                    color: white;
                    background-color: var(--red);
                    padding: 10px 40px;
                    border-radius: 50px;
                    border: none;

                    @include lg{
                       padding: 20px 80px;
                    }
                }
            }
        }
    }    
}
 