/* =============
    hero
============= */
#hero {
    background-image:linear-gradient(rgba(73, 46, 30, 0.76),rgba(73, 46, 30, 0.76)), url("../img/global/backsawmultiple.jpg");
    background-position: center;
    background-size: cover;
    height: 50vh;
        
    >div{
        #hero-content {
            padding: 60px;
            display: grid;
            grid-template-columns: 5px auto 5px;
            grid-template-areas: ". hero-content .";

            >div{
                grid-area: hero-content;
                display: flex;
                flex-direction: column;
                align-content: center;
                

                h1{
                    color: var(--yellow) ;
                }
    
                p{
                    color: white
                }
                button{
                    color: white;
                    background-color: var(--red);
                    padding: 10px;
                    border-radius: 100px;
                    border: none;
                }
            }
        }
    }    
}
 