/* =============
    lineup
============= */
#lineup{
    >div{
        img{

        }
    }
    section{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas:". lineup .";

        @include xxl{
                grid-template-columns: 30% auto 30%;
        }
        div{
            h1{
        }
        }
        ul{
            grid-area: lineup ;
            li{
                img{

                }
                div{

                }
            }
        }
    }
}
