/* =============
    lineup
============= */
#lineup{
    h1{
        text-align: center;
    }

    #lineup-bottom{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas:". lineup-bot .";

        >div{
            grid-area: lineup-bot;
        }


    

        >div{
            grid-area: lineup ;
            
        }
        ul{
            
            
            li{
                background-color: var(--biege);
                img{

                }
                div{

                }
            }
        }
    }
}
