/* =============
    process
============= */
#process{
    >div{
        padding:20px 0px 100px;
        img{
            width: 100%;
        }
    }


    #process-content{

        
        // padding: 120px 0;
        background-color: var(--yellowLight);
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". process-content ." ;

        @include lg{
            background-color: transparent;
        }

        >div{
            grid-area: process-content;

            @include lg{
                display: grid;
                grid-template-columns: 50% auto;
            }

            .video-screen{
                padding-bottom: 10px;
              
                background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.7)), url(../img/process/backsawmade.jpg);
              
                
                background-size: cover;
                background-position: center;
                height: 28vh;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: -50px;
                // margin: -200px auto 0;

                @include lg{
                    margin-top: 0;
                }
                
                .playicon{
                   font-size: rem-calc(50);
                
                   
                }
            }
               
                
    
                aside{
                    background-color: var(--yellowLight);
                    margin: 80px 0;
                    text-align: center;

                    @include lg{
                        margin: 50px 0;
                    }
                    h2{
    
                    }
                    p{
    
                    }
                }
            
        }


       
    }
}