/* =============
    process
============= */
#process{
    >div{
        padding-bottom: 100px;
        img{
            width: 100%;
        }
    }
    #process-content{

        
        padding: 120px 0;
        background-color: var(--yellowLight);
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". process-content ." ;
        >div{
            grid-area: process-content;
            background-image: url(../img/process/backsawmade.jpg);
            
            background-size: cover;
            background-position: center;
            height: 28vh;
            margin: -200px auto 0;
            
            .playicon{
               font-size: rem-calc(50);
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 65px auto;
               
            }
           
            

            aside{
                margin: 80px 0;
                text-align: center;
                h2{

                }
                p{

                }
                button{
                    color: white;
                    background-color: var(--red);
                    padding: 10px;
                    border-radius: 100px;
                    border: none;
                }
            }
        }
    }
}