/* =============
    process
============= */
#process{
    display: grid;
    grid-template-columns: 16px auto 16px ;
    grid-template-areas: ". process-content .";

    
    >div{
    grid-area: process-content;
        img{

        }
    }   
    #process-content{
        div{
            img{

            }
            i{

            }
        }
        aside{

        }
    }
}