/* =============
    quality
============= */
#quality {
    background-color: red;
>div{
    h1{

    }
    ul {
        li {  display: grid;
            grid-template: 16px auto 16px;
            grid-template-areas: ". lineup-content .";

            i{
        
            }
            section {
                grid-area: lineup-content;

                div {
                   
                }
            }
        }
    }
}
   
}

