/* =============
    thank you
============= */
#thankyou-content {
    background-image: linear-gradient(rgba(73, 46, 30, 0.80), rgba(73, 46, 30, 0.80)), url(../img/global/backsawmultiple.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color: white;
    text-align: center;
    padding:0px 16px ;

    @include lg{
        height: 40vh;
    }
   

    h1 {
        @include lg{
        font-size: 60px;
    }
        padding-bottom: 16px;
    }

    h2 {
        padding-bottom: 16px;

        @include lg{
            font-size: 40px;
        }

        .order-number {
            text-decoration: underline;
        }
    }

    p {
        @include lg{
            font-size: 30px;
        }
        padding-bottom: 16px;
        .delivery{
            color: rgba(194, 194, 194, 1);
        }
       
    }

}