/* =============
    Footer
============= */
footer {
    border-top: 20px solid var(--yellowLight);

    h1 {
        font-weight: 700;
        font-size: 16px;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        height: 32px;
    }

    a {
        font-size: 14px;
        font-weight: 400;
        height: 32px;
    }

    background-color: var(--redDark);

    #footer-top {
        display: grid;
        grid-template-columns: 32% auto;
        grid-template-areas: " .footer-top. ";

        @include lg{

            grid-template-columns: 16px auto;
        }

        >div {
            grid-area: footer-top;
            padding: 24px 0px;

        }
    }

    #footer-content {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: " .footer. ";

        >div {
            grid-area: footer;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                "f2 f3 f4"
                "f5 f5 f5";
            gap: 16px;

            @include lg{
                grid-template-columns: 30% auto;
                grid-template-areas:
                ".. f2 f3 f4"
                ".. f5 f5"; 
            }

            h1 {
                color: var(--yellow);
            }

            p {
                color: white;
            }

            a {
                color: white;
            }

            #f2 {
                grid-area: f2;

            }

            #f3 {
                grid-area: f3;
            }

            #f4 {
                grid-area: f4;

                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    li {
                        margin-left: -16px;

                        i {
                            font-size: rem-calc(20);
                        }
                    }
                }
            }

            #f5 {
                grid-area: f5;
                padding-bottom: 16px;
                
                input{
                    padding: 16px;
                }
                .yellowsub{
                border: none;
                color: white;
                background-color: var(--yellow);
                padding: 14px 20px;
                border-radius: 0px 30px 30px 0px;
                }
            }
        }
    }

    #f6 {
        padding: 16px 0px;
        border-top: 5px solid white;
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". f6 .";
        color: white;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }
}