/* =============
    Buttons
============= */
button{
    cursor: pointer;
}

.redbutton{
    background-color: var(--red);
    padding: 14px 50px;
    display: inline-block;
    color: white;
    font-weight: 700;
    font-size: rem-calc(14);
    transition: 0.25s;
    border-radius: 100px;
    border: none;

    &:hover{
        background-color: var(--redDark);
    }

    @include lg{
        padding: 20px 80px;
        font-size: 20px;
    }
}


.whitebutton{
    background-color:white;
    padding: 14px 30px;
    display: inline-block;
    color: black;
    font-weight: 500;
    font-size: rem-calc(14);
    transition: 0.25s;
    border-radius: 100px;
    border: none;

    &:hover{
        border: 3px solid var(--redDark);
        
    }

    @include lg{
        padding: 20px 80px;
        font-size: 20px;
    }
}