/* =============
    Navigation
============= */

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
a:link, a:visited{
    text-decoration: none;
}
.show-menu{
    display: block !important;
}
nav{
    
    text-align: right;
    
    display: none;

    @include lg{
        display: block;
        padding-top: 0px;
    }
   ul{
    @include lg{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }
    li{
        margin-bottom: 24px;
        @include lg{
            margin-bottom: 0;
        }
        a:link, a:visited{
            color: white;
            // padding: 24px 0;
            font-size: rem-calc(30);
            font-weight: 500;
            transition: 0.25s;

            @include lg{
                padding: 0px 0px 0px 24px;
                font-size: rem-calc(16);
                font-weight: 600;
            }

            &:hover, &:active{
                color: var(black);
            }
    }
   }
}
}